.questionBox {

    display: flex;
    flex-direction: row;
    border: 2px solid #032760;
    /*padding: 20px 10px 10px 30px;*/
    background: #ffeffc;
    margin: 5px;
    border-radius: 25px;
    font-size: 30px;
    /*margin-left: 50px;*/
    width: 100%;
}

.questionText {
    flex: 9;
    padding: 22px;


}


.askQuestion {
    border-left: 1px solid black;
    margin: 10px;
    padding-left: 5px;
}


.iconRow {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

}

