.bottomBar {
    width: 100%;
    grid-area: bottomBar;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    cursor: pointer;
    marginRight: 10;
}


.spaceHolder {
    flex-grow: 1;
}