.bottomBar {
    width: 100%;
    grid-area: bottomBar;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
    color: #17A0CE;
}

.ponderingIcon {
    cursor: pointer;
    color: #FFCC33;}

.cancelQuestionIcon:hover {
    color: red;
    cursor: pointer;
}

.acceptQuestionIcon:hover {
    cursor: pointer;
    color: darkgreen;
}

.starredIcon {
    cursor: pointer;
    color: goldenrod;
}


.spaceHolder {
    flex-grow: 1;
}