.bottomBar {
    width: 100%;
    grid-area: bottomBar;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.ponderingIcon {
    cursor: pointer;
    color: yellow;
}

.starredIcon {
    cursor: pointer;
    color: goldenrod;
}


.spaceHolder {
    flex-grow: 1;
}