.linkRelation {

    grid-area: relation;
    width: 100%;
    height: 100%;
    text-align: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.arrowDown {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin: 0 auto;
    border-top: 30px solid #04456D;
}
